<ul id="navbar">
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "About Me", about_me_path %></li>
	<li><%= link_to "Contact", contact_path %></li>
	<li><%= link_to "Portfolio", portfolio_path %></li>
	<li><%= link_to "Free Printables", free_printables_path %></li>
	<li><%= link_to "Press", press_path %></li>
	<li><%= link_to "Shop", shop_path %></li>
</ul>