<div class="container">	
	<h1><%= @post.title %></h1>

	<p>Posted: <%= time_ago_in_words(@post.created_at) %> ago, on <%= @post.created_at.strftime("%b %d, %Y") %></p>

	<%= @post.body %>

	<br><br>
	
	<div class="space">
		<%= link_to 'edit', edit_post_path(@post) %>
		<%= link_to 'delete', post_path(@post), :method => :delete %>
	</div>
	
	<br><br>

	<%= link_to 'Home', root_path %>

</div>